*{
    font-family: 'Raleway', sans-serif;
}

body {
    background: bisque;
}

.contenedor {
    background-image: url("../img/fondo.jpg");
    text-align: center;
    width: 1170px;
    height: 540px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.foto{
    width: 125px;
    height: 125px;
    background-size: 200px;
    margin: 15px auto;
    border-radius: 100%;
    background-repeat: no-repeat;
}

.transformacion {
    width: 180px;
    margin: 15px auto;
    transition: ease .5s;
    object-fit: cover;
}

.transformacion:hover {
    scale: 1.05;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}